/* style.css */

body {
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    gap: 3px;
    background-color: white;
}

.grid-item {
    background-color: rgb(204, 202, 202);
}

.darkened {
    background-color: black;
}
